.sidebar{
    background-color: rgb(147, 221, 209);
    width: 15rem;
    border-top-left-radius: 1rem;
    padding:2% ;
    color: black;
    position: relative;
}

.sidebar img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.img{
    border: solid 3px white;
    border-radius: 50%;
    width: 60%;
    margin-left: 15%;
    
}

.sidebar ul{
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar li{
  list-style: none;
  margin: 10px;
}

.header{
  font-size: larger;
  font-weight: 700;
}

